[data-theme="light"] {
    --primary-color: hsl(211, 100%, 50%);
    --text-color: hsl(0, 0%, 30%);
    --background-color: hsl(0, 0%, 100%);
    --tooltip-color: hsl(0, 0%, 10%);
}

[data-theme="dark"] {
    --primary-color: hsl(211, 100%, 75%);
    --text-color: hsl(0, 0%, 90%);
    --background-color: hsl(205, 31%, 12%);
    --tooltip-color: hsl(0, 0%, 100%);
}