@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

@import "colors";

* {
    color: var(--text-color);
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}
