.wrapper {
    position: relative;
    display: inline-flex;

    .tooltip {
        visibility: hidden;
        position: absolute;
        background-color: var(--tooltip-color);
        color: var(--background-color);
        text-align: center;
        padding: 5px 10px;
        border-radius: 2px;
        font-size: 1rem;
        white-space: nowrap;
    
        z-index: 1;

        &:after {
            content: "";
            position: absolute;
            width: 0; 
            height: 0; 
        }
    }

    .tooltip[data-position="top"] {
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);

        &:after {
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid var(--tooltip-color);
        }
    }

    .tooltip[data-position="left"] {
        right: calc(100% + 5px);
        top: 50%;
        transform: translateY(-50%);

        &:after {
            right: -5px;
            top: 50%;
            transform: translateY(-50%);
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid var(--tooltip-color);
        }
    }


    &:hover .tooltip {
        visibility: visible;
    }
}
